DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@[YOUR-PROJECT-REF].supabase.co:5432/postgres?sslmode=require"
NEXT_PUBLIC_SUPABASE_URL="https://supabase.url"
NEXT_PUBLIC_SUPABASE_ANON_KEY="supabase.anon.key"
API_SECRET_KEY="secret.key"